langgraph
langchain
langchain-groq
langchain-community
sentence-transformers
faiss-cpu
chromadb
duckduckgo-search
python-dotenv
pydantic
tiktoken
wikipedia
langchain-text-splitters
langchain-chroma
langchain-core
fastapi
ddgs


